{% extends 'master.html' %}
{% load static %}
{% if liste %}
  {% block title %}
    <h2>{{cursus.name}} {{cursus.scholar_year}}</h2>
  {% endblock %}
  {% block content %}
    <ul>
      {% for student in liste %}
        <div class='container'>
          <div class = "col-sm-12">
              <li>
                <a href={% url 'detail_student' student.id %}>{{student.last_name}} {{student.first_name}}
              </li>
          </div>
        </div>    
      {% endfor %}
    </ul>
  {% endblock %}
{% else %}
  <p> No student to show</p>
{% endif %}