{% extends 'master.html' %}
{% load static %}
{% if liste %}
  {% block title %}
    <h2>Call list {{cursus.name}} {{cursus.scholar_year}}</h2>
  {% endblock %}
  {% block content %}
    <div class='container'>
      <div class="row">
        <div class = "col-sm-6">
          <ul>
            {% for absence in liste%}
            <li> <a href={% url 'detail_student' absence.student.id %}>{{absence.student.first_name}} {{absence.student.last_name}}</a> was absent on {{absence.date}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>  
    </div>
  {% endblock %}
{% else %}
  <p> No student to show</p>
{% endif %}