{% extends 'master.html' %}
{% load static %}
{% if liste %}
  {% block title %}
    <h2>Particular call of roll</h2>
  {% endblock %}
  {% block content %}
    <form method="POST">
      {% csrf_token %}
      <!-- cross site request forgeries -->
      <!-- https://docs.djangoproject.com/fr/3.1/ref/csrf/ -->
      {{form.as_p}}
    
      <div class='container'>
        <a href={% url 'index' %}><button class='button radius alert left' type='cancel'>Cancel</button></a>
        <button class='button radius alert right' type='submit'>Submit</button>
      </div>
    </form>
  {% endblock %}
{% else %}
  <p> No student to show</p>
{% endif %}